/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  width: 100%;
  /*background-color: #1f2036;*/
  padding: 0.1rem 0.1rem; 
  margin: 0;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}

header .logo {
  /* Le da un tamaño fijo al logo */
  width: 150px;
  height: auto;
}

header .regresar {
  /* Le da un tamaño más pequeño a la flecha */
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
}

.themes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
}

.themes-container h2 {
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 35px;
    color: #333333;
}

.themes-grid {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-gap: 200px;
    row-gap: 100px;

}

/* Botones de tema */
.theme-card {
    width: 300px;
    height: 180px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #caa7f8; /* lila */
}

/* Colores de los botones */
#consonants-button {
    background-color: #caa7f8; /* lila */
}

#vowels-button {
    background-color: #fced75; /* amarillo */
}

#name-button {
    background-color: #f69ad7; /* rosa */
}

/* Hover */
.theme-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}